body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }


  
.bg {
    /* The image used */
    background-image: url("/pics/backgroung-image-unsplash.jpg");
    width: 100%;
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-blur {
    /* The image used */
    background-image: url("/pics/backgroung-image-unsplash-blur.jpg");
    width: 100%;
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1{
    font-family: 'Open Sans', sans-serif;   
}

h2{
    font-family: 'Open Sans', sans-serif;   
}

h3{
    font-family: 'Open Sans', sans-serif;   
}

h4{
    font-family: 'Open Sans', sans-serif;   
}

h5{
    font-family: 'Open Sans', sans-serif;   
}

p{
    font-family: 'Open Sans', sans-serif;
}

.content-limiter{
    position: absolute;
    bottom:0;
    padding: 3rem 10rem 2rem 2rem;
    overflow: hidden;
    border-radius: 0 16rem 0 0;
    background-color: #ff630e;
    z-index: 2;
}

.content-bg{
    width: 40rem;
    height: 40rem;
    border-radius: 22rem;
    background-color: #ff630e;
    position: absolute;
    left: -10%;
    top: 50%;
    overflow: hidden;
    z-index: 0;
}


.content{
    position: relative;
    color: white;
    width: 25rem;
    z-index: 2;
}





  

.navbar{
    float: right;
    height: auto;
    background-color: white;
    border-radius: 0 0 0 2rem;
    position: relative;
    z-index: 2;
}

  /* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0.2rem;
  }



  .nav-active{
    background-color: #ff630e;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    margin-left:0.2rem;
  }

  #moving{
    position: absolute;
    height: auto;
    z-index: 1;
  }

  .moving img{
    width: 15rem;
    height: auto;
  }

  .disp{
      width:100%;
      height:auto;
  }

  .flex-container{
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 20%;
      left: 30%;
      flex-wrap: wrap;
  }

  .flex-item{
      width:18rem;
      height:14rem;
      background-color: white;
      border-radius: 0 0 0 2rem;
      margin: 2rem 2rem 1rem 2rem;
  }

  .flex-item h3{
      padding-left: 2rem;
      font-size: 1.6rem;
      margin:0;
      position: relative;
      bottom: 6px;
  }

  @media screen and (max-width: 900px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }

    body{
        overflow: visible;
    }

    .bg{
        overflow: visible;
    }

  }

